/* #root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* HEADER */
.header-div {
  top: 0%;
  width: 100%;
  padding: 1rem;
}

#app-title {
  font-size: 2.0em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Login page */

.login-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  padding: 10px;
}

.login-text {
  font-family: inherit;
  color: #f9f9f9;
  padding: 10px;
}

.login-input {
  border-radius: 10px;
  padding: 5px;
}

#login-submit-button {
  margin-top: 10px;
  padding: 0.3em 1.2em;
}

/*! below is how u make text look like meme text! */
.response-overlay {
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 0.06em black;
  -webkit-text-fill-color: white;
  font-family: impact;

  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  text-align: center;
  white-space: wrap;
}


/* submit new meme */
.meme_creator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-width: 6px;
  border-radius: 5px;
  text-align: center;
  border-color: black;
}

.meme_creator_title{
  background-color: black;
  margin-top: 0px;
}

#img_creator_meme {
  height: 600px;
}

.entry_field {
  background-color: white;
  color: black;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
}

.entry_field label {
  margin-right: 5px;
}

.new_meme_submit {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* caption card css */
.meme_card {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-width: 6px;
  border-radius: 5px;
  text-align: center;
  border-color: black;
}

.meme_description {
  background-color: black;
  color: white;
  margin-top: 0px;
  font-size: 25px;
  height: 40px;
}

.meme_img {
  height: 600px;
  width: auto;
}

.caption {
  margin-right: 20%;
  margin-left: 20%;
  padding: 4px;
  text-align: center;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.caption:hover {
  background-color: grey;
}