/* #root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* HEADER */
.header-div {
  top: 0%;
  width: 100%;
  padding: 1rem;
}

#app-title {
  font-size: 2.0em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Login page */

.login-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  padding: 10px;
}

.login-text {
  font-family: inherit;
  color: #f9f9f9;
  padding: 10px;
}

.login-input {
  border-radius: 10px;
  padding: 5px;
}

#login-submit-button {
  margin-top: 10px;
  padding: 0.3em 1.2em;
}

/* *******VOTE CARDS*************** */
.vote-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.container-card {
  position: relative;
  width: 200px; /* Adjust the width as needed */
}

.meme-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zoom in to cover the entire container while maintaining aspect ratio */
}

.response-overlay {
  font-weight: bold;
  -webkit-text-stroke: 0.06em black;
  -webkit-text-fill-color: white;

  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  text-align: center;
  white-space: nowrap; /* Ensures the text stays on a single line */
}


/* *******LEADERBOARD CARD*************** */

.leaderboard-card {
  width: 100%;
}

.leaderboard-list {
  color: #f9f9f9;
  font-size: 1.2em;
}

.leaderboard-place {
  color: #f9f9f9;
}