:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color: #f9f9f9;

  /* color-scheme: dark light; */
  /* color: rgba(29, 43, 107, 0.87);
  background-color: rgba(29, 43, 107, 0.87); */

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(20, 30, 110, 0.90)
}

h1 {
  font-size: 4.2em;
  line-height: 1.5;
  color: #f9f9f9;
}

button {
  
  border-radius: 11px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5892c5;
  cursor: pointer;
  transition: border-color 0.25s;
  /* transition: font-size 0.25s; */
}
button:hover {
  
  /* font-size: 1.2em; */
  border-color: #86f1ffc9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

#root {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* HEADER */
.header-div {
  top: 0%;
  width: 100%;
  padding: 1rem;
}

#app-title {
  font-size: 2.0em;
}



/* Login page */

.login-page-div {
  display: flex;
  flex-direction: column;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 10px;
}

.login-text {
  font-family: inherit;
  color: #f9f9f9;
  padding: 10px;
}

.login-input {
  border-radius: 10px;
  padding: 5px;
}

#login-submit-button {
  margin-top: 10px;
  padding: 0.3em 1.2em;
}

/* *******PROFILE********* */

.profile-info-div {
  display: flex;
  flex-direction: column;
  width: min-content;
  color: #f9f9f9
}

.profile-info {
  color: #f9f9f9;
}